<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="TAPWebService" version="2.5">
    <display-name>TSIP Web</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath*:config/applicationContext.xml
            classpath*:config/applicationContext-dubbo.xml
        </param-value>
    </context-param>

    <distributable />
    <listener>
        <listener-class>com.saicmotor.telematics.framework.core.listener.SpringContextInitializeListener</listener-class>
    </listener>

    <!--<listener>-->
        <!--<listener-class>com.saicmotor.telematics.tsgp.tsip.otamsghandler.exception.ErrorInitStarter</listener-class>-->
    <!--</listener>-->
    <listener>
        <listener-class>com.saicmotor.telematics.tsgp.tsip.otamsghandler.starter.OTAMappingInitStarter</listener-class>
    </listener>
    <!--<listener>
       <listener-class>com.saicmotor.telematics.tsgp.tsip.otamsghandler.logarch.listener.LogarchTaskListener</listener-class>
   </listener> -->
    <filter>
        <filter-name>mpFilter</filter-name>
        <filter-class>com.saicmotor.telematics.tsgp.tsip.httpserv.tsip.mp.MpFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>mpFilter</filter-name>
        <url-pattern>*.mp</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>avnFilter</filter-name>
        <filter-class>com.saicmotor.telematics.tsgp.tsip.httpserv.tsip.avn.AvnFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>avnFilter</filter-name>
        <url-pattern>*.avn</url-pattern>
    </filter-mapping>


    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>

</web-app>