<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                           http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


	<aop:aspectj-autoproxy proxy-target-class="false" />
	<bean id="exceptionAspect"
		class="com.saicmotor.telematics.framework.core.aspect.RpcExceptionAspect" />
	<!-- 应用配置，dubbo.app.name、dubbo.app.org、dubbo.app.owner定义在配	置文件中 -->
	<!--<dubbo:application name="${dubbo.app.name}"-->
					   <!--organization="${dubbo.app.org}" owner="${dubbo.app.owner}"/>-->
	<!--<dubbo:application name="zxq-mds-service"/>-->

	<!--协议配置，dubbo.protocol.name、dubbo.protocol.port和	dubbo.protocol.server定义在配置文件中，分别指使用协议(如dubbo)、服务端	口、服务端实现类型(如netty)。-->
	<!--<dubbo:protocol name="${dubbo.protocol.name}"-->
					<!--port="${dubbo.protocol.port}" server="${dubbo.protocol.server}" />-->
	<!--<dubbo:protocol name="dubbo"-->
					<!--port="20902" server="netty" />-->

	<!--注册中心配置，dubbo.registry.protocol 、dubbo.registry.address 、dubbo.registry.client 、dubbo.group 定义在配置文件中，分别指注册中心协议（zookeeper）、注册中心地址、注册中心客户端（zookeeper）、注册中心分组			-->
	<!--<dubbo:registry id="zookeeper_registry" protocol="${dubbo.registry.protocol}"-->
					<!--address="${dubbo.registry.address}"-->
					<!--client="${dubbo.registry.client}" group="${dubbo.group}" />-->
	<!--<dubbo:registry id="zookeeper_registry" protocol="zookeeper"-->
					<!--address="10.25.3.107:4180"-->
					<!--client="zkclient" group="dev" />-->
	<!-- 协议配置 -->
	<dubbo:protocol name="dubbo" port="20885" />

	<!-- 监控中心配置 -->
	<dubbo:monitor protocol="registry" />

	<!-- 应用配置 -->
	<dubbo:application name="tsgp-tsip-service" organization="saicmotor" owner="tsgp" />

	<!-- 注册中心配置 -->
	<dubbo:registry id="zookeeper_registry" protocol="zookeeper"
					address="zookeeper://10.91.230.91:2181" client="zkclient"
					group="dev" />

	<!--远程服务代理配置-->
	<dubbo:reference id="avnActivateApi" check="false" interface="com.zxq.iov.cloud.sp.mds.tcmp.api.IAvnActivateApi" version="1.1"/>
	<dubbo:reference id="vehicleMesPart4OpenApi" check="false" interface="com.zxq.iov.cloud.sp.mds.tcmp.api.IVehicleMesPart4OpenApi" version="1.1"/>
	<dubbo:reference id="avnCityApi"  check="false" interface="com.zxq.iov.cloud.sp.mds.tcmp.api.IAvnCityApi" version="1.1"/>
	<dubbo:reference id="mPUserApi"  check="false" interface="com.zxq.iov.cloud.sp.mds.tcmp.api.IMPUserApi" version="1.1"/>
	<dubbo:reference id="mPVehicleApi"  check="false" interface="com.zxq.iov.cloud.sp.mds.tcmp.api.IMPVehicleApi" version="1.1"/>
	<dubbo:reference id="asVehicleApi"  check="false" interface="com.zxq.iov.cloud.sp.mds.tcmp.api.IAsVehicleApi" version="1.1"/>
	<dubbo:reference id="simCardApi"  check="false" interface="com.zxq.iov.cloud.sp.mds.tcmp.api.ISimCardApi" version="1.1"/>
	<dubbo:reference id="pinCodeApi"  check="false" interface="com.zxq.iov.cloud.sp.mds.tcmp.api.IPinCodeApi" version="1.1"/>
	<dubbo:reference id="servicePhoneApi"  check="false" interface="com.zxq.iov.cloud.sp.mds.tcmp.api.IServicePhoneApi" version="1.1"/>

	<dubbo:reference id="iTAvnLoginVerifyService" interface="com.zxq.iov.cloud.sec.tvowner.api.ITAvnLoginVerifyService" version="1.1"/>
	<dubbo:reference id="iTMPLoginVerifyService" interface="com.zxq.iov.cloud.sec.tvowner.api.ITMPLoginVerifyService" version="1.1"/>

	<dubbo:reference id="avnUserLoginAuthService" interface="com.zxq.iov.cloud.sec.tvowner.api.ITAvnUserLoginAuthService" version="1.1"/>
	<dubbo:reference id="avnEquipLoginAuthService" interface="com.zxq.iov.cloud.sec.tvowner.api.ITAvnEquipLoginAuthService" version="1.1"/>
	<dubbo:reference id="mobileLoginAuthService" interface="com.zxq.iov.cloud.sec.tvowner.api.ITMobileLoginAuthService" version="1.1"/>
	<dubbo:reference id="getMobileDynamicPasswordApi" check="false" interface="com.zxq.iov.cloud.sp.mds.tcmp.api.IGetMobileDynamicPasswordApi" version="1.1"/>
	<dubbo:reference id="mobileVerificationAuthApi" check="false" interface="com.zxq.iov.cloud.sp.mds.tcmp.api.IMobileVerificationAuthApi" version="1.1"/>

	<dubbo:reference id="roadBookBizService" interface="com.saicmotor.telematics.tsgp.sp.roadbook.api.IRoadBookBizService"  version="1.1"/>
	<dubbo:reference id="roadBookCommentBizService" interface="com.saicmotor.telematics.tsgp.sp.roadbook.api.IRoadBookCommentBizService"  version="1.1"/>
	<dubbo:reference id="roadBookWeatherBizService" interface="com.saicmotor.telematics.tsgp.sp.roadbook.api.IRoadBookWeatherBizService"  version="1.1"/>

	<dubbo:reference id="vpAppServiceV1" check="false"
					 interface="com.saicmotor.telematics.tsgp.sp.vp.api.IApplicationService" version="1.1" />

	<dubbo:reference id="vpAppServiceV2" check="false"
					 interface="com.saicmotor.telematics.tsgp.sp.vp.api.IApplicationService" version="1.2" />

	<dubbo:reference id="asService" interface="com.saicmotor.telematics.tsgp.as.api.IApplicationService" version="1.1" />

	<dubbo:reference id="naviService" interface="com.saicmotor.telematics.tsgp.sp.navi.api.IApplicationService" version="1.1" />

	<dubbo:reference id="messageService" interface="com.saicmotor.telematics.tsgp.sp.message.api.IApplicationService" version="1.1" />

	<dubbo:reference id="weatherService" interface="com.saicmotor.telematics.tsgp.sp.weather.api.IApplicationService" version="1.1" />
</beans>